@import url('https://fonts.googleapis.com/css2?family=Federo&family=Montserrat:wght@300;400;700&family=Open+Sans:wght@300&display=swap');
html,
body {
  margin: 0;
}

body {
  height: 100%;
  background-color: #F0FFFF;
  display: flex;
  justify-content: center;
  font-family: "Federo", "Helvetica Neue";
  
}

.wrapper {
  width: 100%;
  display: flex;
  margin: 0 auto;

}

.main {
  display: flex;
  flex-flow: column;
  width: 100%;
  
}

.header, .header-contato, .header-sobre {
  color: aliceblue;
   
  min-height: 220px;
  width: 100%;
  font-weight: 300;
  
}

.header h1{
  padding: 50px;
}

.header{
  background: url("/media/urso.jpg") center / cover no-repeat;
}
.header-contato{
  background: url("/media/children-hospital.jpg") center / cover no-repeat;
}
.header-sobre{
  background: url("/media/sobre.jpg") center / cover no-repeat;
}
.content {
  background-color: #F5F5F5;
  min-height: 350px;
  padding: 20px;
  border: solid 1;
}

.footer {

  min-height: 100px;
}

.footer-table {
  width: 100%;
  background-color:rgba(255, 222, 173, 0.5);
  color: 	#363636;
  text-align: center;
}
.footer-table thead th {
  padding: 10px;
}
.footer-table tfoot td{
  padding: 20px 10px;
  
}
